.description__phone {
  display: inline;
  color: rgb(4, 61, 249);
  margin: 0 2px;
}

.description__back {
  color: rgb(4, 61, 249);
  margin: 0 4px;
}

.description__back:hover {
  cursor: pointer;
}

.button-resend {
  padding: 10px;
  font-size: 20px;
  width: 500px;
  background-color: rgb(214, 126, 126);
  color: white;
}

.resend-container {
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
